/*
#image_container{
	width: 300px;
	height: 300px;
	padding: 10px;
	border: 1px solid #000;

}*/

*{ margin: 0; padding:0; }

body{
	background-color: #00008B;
	font-family: Arial, sans-serif;
	padding: 15px;
}