/*the code is from https://codepen.io/doughensel/pen/zGMmop*/
*{ margin:0 ; padding:0; }

body{
	background-color: #383838;
	font-family: Arial, sans-serif;
	padding: 15px;
}

.error{color: #B71C1C;}

#title{
	margin-bottom: 50px;
	margin-left: 15px;
	color: #E0E0E0;
}

img{
	width: 100px;
	height: 100px;
}

#thumbnailImage{
	width: 315px;
	height: 225px;
	margin: 20px 20px 0px 20px;
	border: solid 2px #616161;
	position: absolute;
}

#thumbnailImage p{
	color: #9E9E9E;
}

#uploadImage{
	width: 150px;
	position: relative;
	margin-left: 20px;
	margin-right: 0px;
	color: #86C232;
	top: 255px;
}

#fileUpload [type=file]:active + label{
	background-color:#86C232;
}

#mainEditor{
	width: 500px;
	height: 500px;
	border: solid 2px #616161;
	margin: 0px 20px 20px 400px;
	position: absolute;
}

#bottonDiv{
	max-width: 200px;
	height: 500px;
	top: 125px;
	left: 950px;
	position: absolute;
}

.button{
	display: block;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #D0D0D0;
	color: #000000;
	height: 21px;
	line-height: 21px;
	text-align: center;
	padding-left: auto;
	paddig-right: auto;
	width: 150px;
}

.expanded-image{
	width: 500px;
	height: 500px;
}


