/*the code is from https://codepen.io/doughensel/pen/zGMmop*/
*{ margin:0 ; padding:0; }

body{
	background-color: Gray;
	font-family: Arial, sans-serif;
	padding: 15px;
}

.error{color: #B71C1C;}

#droppingDiv{
	display: block;
	height: 100px;
	width: 200px;
	vertical-align: middle;
	text-align: center;
	color: #37474F;
	background-color: LightGray;
	border: solid 2px #333333;
	border-radius: 10px;
	margin: 20px 20px;
}

#droppingDiv input{
	width: 150px;
	margin: auto;
}

img{
	width: 100px;
	height: 100px;
}

#thumbnailImage{
	width: 315px;
	height: 225px;
	margin: 20px 20px 20px 20px;
	border: solid 2px #333333;
	position: absolute;
}

#mainEditor{
	width: 500px;
	height: 500px;
	border: solid 2px #333333;
	margin: 40px 20px 20px 500px;
}

.expanded-image{
	width: 500px;
	height: 500px;
}